name: Build & Push Single LMS Image to ECR

on:
  push:
    branches: [ "main" ]
    paths:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, Tag and Push Image
        run: |
          ECR_URI="${{ secrets.ECR_URI }}"
          docker build -t elms-platform .
          docker tag elms-platform:latest $ECR_URI:latest
          docker push $ECR_URI:latest
